
<br><br><%= form_for @user do |form| %>
    <%= render partial: '/users/form', object: form %><br>
    <%= form.file_field :avatars, multiple:true%>
    <br><br>
    <div class="submit-field">
      <%= form.submit %>
    </div>

  <% end %>



