
<div class="background" >
	<div class="navigation" style="padding-top:20px">

	<h1 style="padding-top:190px; font-size:70px">LIVE THERE</h1>
	<p>Book homes from local hosts in 191+ countries and experience a place like you live there.</p>

	</div>
</div>

<div class="titles">
	<h1 style="font-size: 32px;">Just for the weekend</h1>
	<p style="font-size: 15px">Discover new, inspiring places close to home.</p>
</div>